<center>
    <div><img src="static/checker.png" height=100px></div>

    <div><img src="{{ href }}" height=400px></div>

    <div><big><b>Enter Your Review</b></big></div>

    <form method="post" >

        <div class="form-group">
            <label for="exampleFormControlTextarea1"></label>
            <textarea name="text" class="form-control" id="exampleFormControlTextarea1" rows="4" cols="100"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</center>